<ul>
    <li *ngFor="let item of newThingsList" class="item-wrap">
        <div class="forwarded" *ngIf="forwarded">已转发</div>
        <div class="item-container">
            <div class="avatar">
                <img [src]="item.avatar" alt="" class="avatar-img" *ngIf="item.avatar">
                <div *ngIf="!item.avatar" class="avatar-img tm" [ngStyle]='{"background-color":item.avatar_color}'>
                    {{item.username | getInitials}}

                </div>
            </div>
            <div class="content">
                <div class="top">
                    <div>
                        <span class="userName">{{item.username}}</span>
                        <span>·</span>
                        <span class="date">{{item.dates | date:'MM月dd日 HH时mm分'}}</span>
                    </div>
                    <div class="more">...</div>
                </div>
                <div class="newThings">
                    {{item.content}}
                </div>
                <div class="newThings-img-container" *ngIf="item.picture">
                    <img [src]="item.picture" alt="" class="newThings-img">
                </div>
                <div class="ribbon">
                    <div class="ribbon-wrap">
                        <span class="icon-wrap blue">
                            <span nz-icon type="message" nzTheme="outline" class="ribbon-icon">
                            </span>
                        </span>
                        <span>{{item.comments | jsonToObject}}</span>
                    </div>
                    <div class="ribbon-wrap">
                        <span class="icon-wrap green">
                            <span nz-icon type="retweet" nzTheme="outline" class="ribbon-icon">
                            </span>
                        </span>
                        <span>{{item.forward | jsonToObject}}</span>
                    </div>
                    <div class="ribbon-wrap">
                        <span class="icon-wrap red">
                            <span nz-icon type="like" nzTheme="outline" class="ribbon-icon">
                            </span>
                        </span>
                        <span>{{item.likes | jsonToObject}}</span>
                    </div>
                    <div class="ribbon-wrap">
                        <span class="icon-wrap blue">
                            <span nz-icon type="bar-chart" nzTheme="outline" class="ribbon-icon">
                            </span>
                        </span>
                        <span>{{item.hot}}</span>
                    </div>
                    <div class="ribbon-wrap">
                        <span class="icon-wrap blue">
                            <span nz-icon type="upload" nzTheme="outline" class="ribbon-icon">
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>