<ul>
    <li *ngFor="let item of userNewsArr" class="item-wrap" (click)="goNewsInfo(item)">
        <div class="forwarded" *ngIf="forwarded">已转发</div>
        <div class="item-container">
            <div class="avatar">
                <img [src]="item.avatarImgBase64" alt="" class="avatar-img" *ngIf="item.isPath">
                <div *ngIf="!item.isPath" class="avatar-img tm" [ngStyle]='{"background-color":item.AVATAR_COLOR}'>
                    {{item.USERNAME | getInitials}}
                </div>
            </div>
            <div class="content">
                <div class="top">
                    <div>
                        <span class="userName">{{item.USERNAME}}</span>
                        <span>·</span>
                        <span class="date">{{item.RELEASE_TIME | date:'MM月dd日 HH时mm分'}}</span>
                    </div>
                    <div class="more">...</div>
                </div>
                <div class="newThings">
                    {{item.CONTENT}}
                </div>
                <div class="newThings-img-container" *ngIf="item.PICTURE">
                    <img [src]="item.PICTURE" alt="" class="newThings-img">
                </div>
                <div class="ribbon">
                    <div class="ribbon-wrap">
                        <span class="icon-wrap blue">
                            <span nz-icon type="message" nzTheme="outline" class="ribbon-icon">
                            </span>
                        </span>
                        <span>{{item.comments | jsonToObject}}</span>
                    </div>
                    <div class="ribbon-wrap">
                        <span class="icon-wrap green">
                            <span nz-icon type="retweet" nzTheme="outline" class="ribbon-icon">
                            </span>
                        </span>
                        <span>{{item.forward | jsonToObject}}</span>
                    </div>
                    <div class="ribbon-wrap">
                        <span class="icon-wrap red">
                            <span nz-icon type="like" nzTheme="outline" class="ribbon-icon">
                            </span>
                        </span>
                        <span>{{item.likes | jsonToObject}}</span>
                    </div>
                    <div class="ribbon-wrap">
                        <span class="icon-wrap blue">
                            <span nz-icon type="bar-chart" nzTheme="outline" class="ribbon-icon">
                            </span>
                        </span>
                        <span>{{item.hot}}</span>
                    </div>
                    <div class="ribbon-wrap">
                        <span class="icon-wrap blue">
                            <span nz-icon type="upload" nzTheme="outline" class="ribbon-icon">
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>