@import '/src/styles.scss';

.item-wrap {
    border-bottom: 1px solid $line-grey;
    padding: 1rem 0;
    cursor: pointer;

    &:hover {
        background-color: #F7F7F7;
    }
}

.forwarded {
    margin-bottom: -0.5rem;
    padding-left: 4.3rem;
    font-size: 0.8rem
}

.item-container {
    @include customize-flex(none, none);

    .avatar {
        margin: 0 1rem;

        .avatar-img {
            @include customize-flex();
            width: 2.4rem;
            height: 2.4rem;
            border-radius: 50%;
        }

        .tm {
            font-size: 1rem;
            font-weight: bold;
            opacity: 0.8;
        }
    }

    .content {
        width: 100%;

        .top {
            @include customize-flex(space-between);
            width: inherit;
            padding-right: 2rem;

            .userName {
                font-size: 0.9rem;
                font-weight: bold;
                margin-right: 0.5rem;
            }

            .date {
                font-size: 0.9rem;
                margin-left: 0.5rem;
            }

            .more {
                font-weight: bold;
                font-size: 1rem;
            }
        }

        .newThings {
            font-size: 1rem;
            padding-right: 4rem;
        }

        .newThings-img-container {
            width: 24rem;
            height: 24rem;

            .newThings-img {
                width: 90%;
                height: 90%;
                margin-top: 1rem;
                border-radius: 1rem;
            }
        }

        .ribbon {
            @include customize-flex(space-between);
            margin-top: 0.5rem;

            .ribbon-wrap {
                @include customize-flex();
                margin-right: 2rem;

                &:hover {
                    .blue {
                        color: #4A99E9;
                        background-color: #E6EEF6;
                    }

                    .blue+span {
                        color: #4A99E9;
                    }

                    .green {
                        color: #53B781;
                        background-color: #E6F1EB;
                    }

                    .green+span {
                        color: #53B781
                    }

                    .red {
                        color: #E5397F;
                        background-color: #F5E4EB;
                    }

                    .red+span {
                        color: #E5397F;
                    }

                }
            }

            .icon-wrap {
                @include customize-flex();
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                margin-right: 0.5rem;
                cursor: pointer;

                &:hover {
                    background-color: #d6d6d6;
                }

                .ribbon-icon {

                    font-size: 1rem;

                }
            }

        }


    }
}

.reply {
    position: absolute;
}

//编辑资料框样式
.wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index:1;
    visibility: hidden;
    @include customize-flex();
    background-color: rgb(0, 0, 0, 0.1);

    app-center-box {
        z-index: 9;

        [top] {
            @include customize-flex(none);
            padding: 1rem 0;

            .close {
                cursor: pointer;
                margin-left: 1rem;
                font-size: 1rem;
            }

            .title {
                margin-left: 1rem;
                font-size: 1.3rem;
                height: 2rem;
                line-height: 2rem;
                margin-top: -6px;
            }

            .button {
                width: 5rem;
                height: 2.3rem;
                border-radius: 18px;
                margin-right: 1rem;
                color: white;
                font-size: 1rem;
                cursor: pointer;
                background-color: #101419;
            }
        }

        [main] {
            position: relative;
            padding: 0 2rem;
        }

    }

}