<app-home-content>
    <div main-top class="title">
        <div nz-icon nzType="arrow-left" nzTheme="outline" class="back"></div>
        <div class="username">推文</div>
    </div>
    <div main-top class="main-content">
        <div class="user-info-top">
            <div class="avatar" *ngIf="news.isPath">
                <img [src]="avatarImgBase64" alt="">
            </div>
            <div *ngIf="!news.isPath" class="avatar tm" [ngStyle]='{"background-color":news.AVATAR_COLOR}'>
                {{news.USERNAME | getInitials}}
            </div>
        </div>
        <div class="user-info">
            <div class="username">{{news.USERNAME}}</div>
            <div class="account">@{{news.ACCOUNT_ADDRESS}}</div>
        </div>
        <div class="content">
            {{news.content}}
        </div>
    </div>
</app-home-content>