<span></span>
<app-layout>
    <app-header header [list]="list"></app-header>
    <span main-top class="title">主页</span>
    <div main-top class="main-content">
        <div class="shareNews">
            <div class="top">
                <div class="recommended" (click)="changeList('1')">
                    为你推荐
                </div>
                <div class="focus-on" (click)="changeList('0')">
                    正在关注
                </div>
            </div>
        </div>
    </div>
    <div new-things-content>
        <div class="bottom">
            <div class="avatar">
                <nz-avatar nzSize="large" nzIcon="user" nzSrc="../../../../assets/OIP.jpeg"></nz-avatar>
            </div>
            <div class="content">
                <app-publish-content></app-publish-content>
            </div>
        </div>
        <div class="new-things-list" *ngIf="recommendedPeople">
            <app-new-things-list [newThingsList]="recommendUsers"></app-new-things-list>
        </div>
        <div class="new-things-list" *ngIf="focusOnPeople">
            <app-new-things-list [newThingsList]="followUsers"></app-new-things-list>
        </div>

    </div>
    <div main-right class="main-right">
        <div class="search">
            <app-search>
            </app-search>
        </div>
    </div>
</app-layout>