@import "/src/styles.scss";


.main {
    display: flex;
    width: 950px;
    height: 100%;

    .content {
        border-left: 1px solid $line-grey;
        border-right: 1px solid $line-grey;
        width: 600px;
        padding: 1.5rem 0;

        .main-top {
            background-color: rgb(255, 255, 255,0.97);
        }

        .new-things-content {
            position: relative;
            height: 90%;
            overflow: scroll;
            width: inherit;
        }
    }

    .right {
        width: 350px;
    }
}