@import "/src/styles.scss";



    .search-wrap {
        // height: 3.4rem;
        height: 3rem;
        width: 100%;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        background-color: #F0F3F4;
        display: flex;
        align-items: center;

        .search-icon {
            font-size: 1.4rem;
            margin-left: 1rem;
        }

        .search {
            width: 70%;
            height: inherit;
            line-height: inherit;
            font-size: 1.4rem;
            margin-left: 1.2rem;
            border: none;
            outline: none;
            background-color: #F0F3F4;
        }
    }

