@import '/src/styles.scss';
.title {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0 1rem;
}

.main-content {
    margin: 1rem;
    padding-top: 1rem;
    font-size: 1rem;
    border-top: 1px solid $line-grey;
    height: 100vh;
    width: inherit;
}

.new-things-content{
    overflow: scroll;
    font-size: 1rem;
    height: 28rem;
    width: inherit;
}
