<app-home-content>
    <div main-top class="title">
        <!-- <div nz-icon nzType="arrow-left" nzTheme="outline" class="back"></div> -->
        <div class="user-info-top">
            <div class="username">{{userInfo.USERNAME}}</div>
            <div class="yun-number">{{this.myNews.length}}文章</div>
        </div>
    </div>
    <div main-top class="main-content">
        <div class="user-info-top">
            <img src="../../../../assets/OIP.jpeg" *ngIf="backgroundImg" class="backgroundImg">
            <div *ngIf="isPath" class="backgroundImg"></div>
            <div class="avatar" *ngIf="isPath">
                <img [src]="avatarImgBase64" alt="">
            </div>
            <div *ngIf="!isPath" class="avatar tm" [ngStyle]='{"background-color":userInfo.AVATAR_COLOR}'>
                {{userInfo.USERNAME | getInitials}}
            </div>
            <div class="edit-info" (click)="isEdit=true">
                <div class="edit-info-button">编辑个人资料</div>
            </div>
        </div>
        <div class="user-info">
            <div class="username">{{userInfo.USERNAME}}</div>
            <div class="account">@{{userInfo.ACCOUNT_ADDRESS}}</div>
            <div class="registration-time">注册时间：{{userInfo.REGISTRATION_TIME | date:'MM月dd日' }}</div>
            <!-- <div class="follow">
                <div class="followers">关注者 {{userInfo.FOLLOWS}}</div>
                <div class="followed">正在关注 {{userInfo.FANS}}</div>
            </div> -->
        </div>
    </div>
    <div new-things-content class="new-things-content">
        <app-new-things-list [newThingsList]="myNews"></app-new-things-list>
    </div>
</app-home-content>


<div class="wrap" *ngIf="isEdit">
    <app-center-box >
        <div top>
            <div (click)="isEdit=false">
                <span nz-icon nzType="close" nzTheme="outline" class="close"></span>
            </div>
            <div class="title">编辑个人资料</div>
            <button (click)="onSubmit()" class="button">保存</button>
        </div>
        <div main>
            <app-background-upload class="background-color"></app-background-upload>

            <app-avatar-upload [avatarColor]="this.userInfo.AVATAR_COLOR" class="avatar"></app-avatar-upload>

            <!-- <form [formGroup]="form" class="form">
                <label for="intro">个人简介</label>
                <input type="text" formControlName="intro">

            </form> -->
        </div>


    </app-center-box>
</div>