.main-box {
    width: 35rem;
    height: 40rem;
    box-shadow: 0px 0px 40px rgb(0, 0, 0, 0.2);
    border-radius: 25px;
    background-color: white;


    // .top {
    //     display: flex;
    //     padding-top: 1rem;
    // }

    // .main{
    //     width: 35rem;
    //     height: 30rem;
    // }
}