<app-home-content *ngIf="news">
    <div main-top class="title">
        <div nz-icon nzType="arrow-left" nzTheme="outline" class="back"></div>
        <div class="username">推文</div>
    </div>
    <div main-top class="main-content">
        <!-- <div class="user-info-top">
            <div class="avatar" *ngIf="isPath">
                <img [src]="avatarImgBase64" alt="">
            </div>
            <div *ngIf="!isPath" class="avatar tm" [ngStyle]='{"background-color":news.AVATAR_COLOR}'>
                {{news.USERNAME | getInitials}}
            </div>
        </div> -->
        <div class="user-info">
            <div class="username">{{news.USERNAME}}</div>
            <span nz-icon nzType="cloud" nzTheme="twotone" style="margin-left: 0.2rem;font-size: 1.2rem;"
                *ngIf="news.IS_VIP=='True'"></span>
            <div class="account">@{{news.ACCOUNT_ADDRESS}}</div>
        </div>
    </div>
    <div new-things-content class="text-content">
        <div class="current-text">
            <span>当前内容：</span>
            {{news.CONTENT}}
        </div>

        <div *ngIf="isNowUser()" class="auto-check">
            <div>设置自动检测</div>
            <div class="dropdown">
                <select [(ngModel)]="selectedOption" (change)="check()">
                    <option *ngFor="let item of options" [value]="item">{{item}}</option>
                </select>
            </div>
        </div>

        <div class="check-text">
            <div class="check-text-top">
                <div> 检测合约中内容</div>
                <button (click)="verifyNews()">检测</button>
            </div>
            <div *ngIf="verifyNewsContent">
                <div>
                    <div>当前内容对应IPFS存储路径</div>
                    <div>{{curIPFS}}</div>
                    <div>用户账号</div>
                    <div>{{verifyNewsContent._userAddress}}</div>
                    <div>区块中IPFS存储路径</div>
                    <div>{{verifyNewsContent._ipfsHash}}</div>
                    <div *ngIf="curIPFS !== verifyNewsContent._ipfsHash">
                        已被篡改
                    </div>
                    <div *ngIf="curIPFS === verifyNewsContent._ipfsHash">
                        未被篡改
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-home-content>