@import '../../../styles.scss';

@media (min-width: 1200px) {

    /* 在此处添加样式，这些样式将在最大宽度为1200像素时应用 */
    .wrap {
        // background-color: pink;
        width: 1200px;
        margin: 0 auto;
        overflow: hidden;
    }
}

.wrap {
    display: flex;
    height: 100%;
    // position: relative;

    .main-box {
        display: flex;
        height: 100%;

        .header {

            // background-color: green;
            width: 250px;
            padding: 2rem;

            .icon {
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                transition: all 0.3s ease;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;

                img {
                    width: 30px;
                    height: auto;
                }

                &:hover {
                    background-color: #EDF5FD;
                    cursor: pointer;
                }
            }

            .list {
                padding-top: 1rem;

                .item {
                    margin: 0.5rem 0;
                    height: 3.5rem;

                    * {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}

.rounded-button {
    width: 7rem;
    padding: 0.5rem;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;

    &:hover {
        cursor: pointer;
        background-color: $button-grey;
    }

    span {

        &:first-child {
            margin-right: 0.4rem;
        }

    }
}