<div class="wrap">
    <div class="main-box">
        <div class="header">
            <div class="icon">
                <img src="../../../assets/icon.png" alt="">
            </div>
            <ul class="list">
                <li *ngFor="let item of list" class="item">
                    <div class="rounded-button">
                        <span nz-icon [nzType]="item.icon" nzTheme="outline"></span>
                        <span>{{item.title}}</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="main">
            <app-home-content></app-home-content>
            <!-- <router-outlet></router-outlet> -->
            <!-- <app-home-content (ShowRegisterPage)="getIsShowRegister($event)"
                (ShowLoginPage)="getIsShowLogin($event)"></app-home-content> -->
        </div>

    </div>

</div>
<!-- <router-outlet slot="register"></router-outlet> -->
<!-- <app-register *ngIf="register" (CloseRegister)="getIsShowRegister($event)"></app-register>
<app-login *ngIf="login"  (CloseLogin)="getIsShowLogin($event)"></app-login> -->