.avatar,
.avatar-color {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}

.avatar-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  background-color: white;
}

.container {
  position: relative;

  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 6rem;
    opacity:0;
    height: 6rem;
    border-radius: 50%;
  }
}