<div class="main">
    <div class="content">
        <div class="search-wrap">
            <span nz-icon nzType="search" nzTheme="outline" class="search-icon"></span>
            <input type="text" class="search">
        </div>
    </div>
    <div class="right">
        <div class="wrap">
            <div class="login-box">
                <p class="title">初到xxx?</p>
                <div>立即注册，获取你自己的个性化时间线！</div>
                <div class="login">
                    <a [routerLink]="['/login']">立即登陆</a>

                </div>
                <div class="register">
                    <a [routerLink]="['/register']">创建账号</a>
                </div>
            </div>
        </div>
    </div>

</div>